//header
ion-toolbar {
  --background: #62BC60;
  --color:white;
}

ion-title{
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-left: 50px;
}

.back-button{
  width: 40px; 
  height: auto;
  margin-right: 100px;
  font-family: 'Poppins', sans-serif;
}
//end of header


//background
.bg-container {
  position: relative;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/background/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9Daaaa;
  opacity: .8;
}
//end of bg


//box in the left
.left-box {
  display: flex;
  justify-content:left;
  
}

.left-card {
  position: relative;
  display: flex;
  height: 660px;
  width: 200px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
  background-color: rgba(98, 188, 96, .6);
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  
}

//------------------------------------------------card-scroll
ion-card-content {
  max-height: calc(100% - #{50px});
  position: relative;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}
//-------------------------------------------------end
.img-logo{              //-------------------------icon image
  height: 50px;
  width: auto;
}
.txt-logo{                        //----------icon text
  color: black;
  margin-bottom: 30px;
}

.img-proxy{
  height: 60px;
  width: auto;
}
.txt-proxy{
  color: black;
  margin-bottom: 30px;
}

.title {
  font-weight: bold;
  color: black;
  font-size: 15px;
  margin: 10px;
}

.content-section {
  border-radius: 15px;
  background-color: #C9E4D0;
  width: 230px;
  margin: 10px;
}

.input-text {
  color: black;
}



//---------------------------------------------box in the middle
.middle-box {
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  
}

.middle-card {
  height: 610px;
  width: 30cm;
  background-color: rgba(242, 242, 242, .9);
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
}
@media (max-width: 1500px) {
  .middle-card {
    width: 950px;
    height: 600px;
  }
}
@media (max-width: 1300px) {
  .middle-card {
    width: 850px;
    height: 600px;
  }
}



//------------------------------------------------card content
.proxy-map{
  height: 250px;
  width: auto;
  margin-top: 100px;
}
//--------------------------Dragbox
.example-box {
  width: 100px;
  height: 100px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

