<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
      <ion-title>Settings</ion-title>
    </ion-row>
    </ion-grid>
    
  
    <ion-buttons slot="end" class="back-button">
      <ion-button (click)="goBack()" class="go-back-button" fill="clear">
        <ion-icon name="chevron-back" class="go-back-icon"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false" class="bg-container">
  <div class="bg-image"></div>
  <div class="bg-overlay"></div>

<ion-grid>
  <ion-row>
    <div class="left-box">
      <ion-card class="left-card"> 
        <ion-card-content>
          <div>
            <ion-img src="/assets/home-logo/network map.png" class="img-logo"></ion-img>
          </div>
          <div class="txt-logo">
            <p>Network Map</p> <br>
            <p style="font-style: italic; margin-top: 20px;">Drag the necessary network devices from the options below 
            and place them in the white space area.</p>
          </div>
          
          <ion-grid>
            <ion-col>
              <div class="txt-proxy">
                <div cdkDrag class="example-box">
                <ion-img src="/assets/dnd/comp-dnd.png" class="img-proxy"></ion-img>
                <!--<p>Computer & <br> Peripherals</p>-->
              </div>
              </div>
              <div class="txt-proxy">
                <div cdkDrag class="example-box">
                <ion-img src="/assets/dnd/router-dnd.png" class="img-proxy" style="height: 70px; width: auto;"></ion-img>
                <!--<p>Routers</p>-->
                </div>
              </div>
              <div class="txt-proxy">
                <div cdkDrag class="example-box">
                <ion-img src="/assets/dnd/server-dnd.png" class="img-proxy"></ion-img>
                <!--<p>Servers</p>-->
                </div>
              </div>
              <div class="txt-proxy">
                <div cdkDrag class="example-box">
                  <ion-img src="/assets/dnd/switch-dnd.png" class="img-proxy"></ion-img>
                </div>
              </div>
            
            </ion-col>
          </ion-grid>
          
          
        </ion-card-content>
      </ion-card>
    </div>
    
    <div class="middle-box">
      <ion-card class="middle-card "> 
        <ion-card-content>
          <ion-img src="/assets/proxy.png" class="proxy-map"></ion-img>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-row>
</ion-grid>