//header
ion-toolbar {
  --background: #62BC60;
  --color:white;
}

ion-title{
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-left: 50px;
}

.back-button{
  width: 40px; 
  height: auto;
  margin-right: 100px;
  font-family: 'Poppins', sans-serif;
}

//end of header


//background
.bg-container {
  position: relative;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/background/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9Daaaa;
  opacity: .8;
}
//end of bg


//box in the left
.left-box {
  display: flex;
  justify-content:left;
  
}

.left-card {
  position: relative;
  display: flex;
  height: 660px;
  width: 300px;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  background-color: rgba(98, 188, 96, .6);
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
}

.img-logo{//icon image
  height: 30px;
  width: auto;
  float: left;
}
.txt-logo{//icon text
  color: black;
  margin-bottom: 30px;
}

.title {
  font-weight: bold;
  color: black;
  font-size: 15px;
  margin: 10px;
}

.content-section {
  border-radius: 15px;
  background-color: #C9E4D0;
  width: 230px;
  margin: 10px;
}

.input-text {
  color: black;
}
//end


//box in the middle
.middle-box {
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  
}

.middle-card {
  height: 610px;
  width: 30cm;
  background-color: rgba(242, 242, 242, .9);
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
}
@media (max-width: 1500px) {
  .middle-card {
    width: 950px;
    height: 600px;
  }
}
@media (max-width: 1300px) {
  .middle-card {
    width: 850px;
    height: 600px;
  }
}
//end


//table
.custom-table {
  width: 100%;
  color: black;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.custom-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.custom-table th:nth-child(1),//for Name
.custom-table td:nth-child(1) {
  width: 400px; 
}
.custom-table th:nth-child(2),//for Device Type
.custom-table td:nth-child(2) {
  width: 500px; 
}
.custom-table th:nth-child(3),//for MAC Address
.custom-table td:nth-child(3) {
  width: 500px; 
}
.custom-table th:nth-child(4),//for IP Address
.custom-table td:nth-child(4) {
  width: 500px; 
}
.custom-table th:nth-child(5),//for Building
.custom-table td:nth-child(5) {
  width: 300px; 
}
.custom-table th:nth-child(6),//for Floor
.custom-table td:nth-child(6) {
  width: 300px; 
}
.custom-table th:nth-child(7),//for Status
.custom-table td:nth-child(7) {
  width: 300px; 
}
//end

//card-scroll
ion-card-content {
  max-height: calc(100% - #{50px});
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}
//end