<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
      <ion-title>Settings</ion-title>
    </ion-row>
    </ion-grid>
    
  
    <ion-buttons slot="end" class="back-button">
      <ion-button (click)="goBack()" class="go-back-button" fill="clear">
        <ion-icon name="chevron-back" class="go-back-icon"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false" class="bg-container">
  <div class="bg-image"></div>
  <div class="bg-overlay"></div>

<ion-grid>
  <ion-row>
    <div class="left-box">
      <ion-card class="left-card"> 
        <ion-card-content>

          <div>
            <ion-img src="/assets/home-logo/server.png" class="img-logo"></ion-img>
          </div>
          <div class="txt-logo">
            <p>Servers</p>
          </div>
          
          <ion-title class="title">Device Information</ion-title>

          <div class="content-section"> 
            <ion-input type="text" placeholder="Device Name" class="input-text"></ion-input>
          </div>
          <div class="content-section"> 
            <ion-input type="text" placeholder="MAC Address" class="input-text"></ion-input>
          </div>
          <div class="content-section"> 
            <ion-input type="text" placeholder="IP Address" class="input-text"></ion-input>
          </div>

          <ion-title class="title">Device Location</ion-title>

          <div class="content-section"> 
            <ion-input type="text" placeholder="Building" class="input-text"></ion-input>
          </div>
          <div class="content-section"> 
            <ion-input type="text" placeholder="Floor" class="input-text"></ion-input>
          </div>

          <ion-button  type="submit">+ Add</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    
    <div class="middle-box">
      <ion-card class="middle-card "> 
        <ion-card-content>

          <table class="custom-table">
            <thead class="theads">
              <tr>
                <th>Device Name</th>
                <th>MAC Address</th>
                <th>IP Address</th>
                <th>Building</th>
                <th>Floor</th>
                <th>Status</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>DELL</td>
                <td>S1:E3:24:CD:6D:90</td>
                <td>192.168.3.1 </td>
                <td>Bldg 1</td>
                <td>1st Flr</td>
                <td style="color:green;">up</td>
              </tr>
              <tr>
                <td>HP</td>
                <td>S0:E8:24:CD:6D:60</td>
                <td>192.168.3.2</td>
                <td>Bldg 1</td>
                <td>1st Flr</td>
                <td style="color:green;">up</td>
              </tr>   
            </tbody>
          </table>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-row>
</ion-grid>