//header
ion-toolbar {
  --background: #62BC60;
  --color:white;
}
.header{
  font-family: 'Poppins', sans-serif;
}

.logo {
  margin-left: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 50px;
  height: auto;
}

.header-title {
  text-align: left;
  padding: auto;  
}
//end of header


//background
.logo-container {
  width: 40px; /* Adjust the logo width as needed */
  height: 40px; /* Adjust the logo height as needed */
}

ion-icon {
  font-size: 40px; 
}

.bg-container {
  position: relative;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/background/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9Daaaa;
  opacity: .75;
}
//end of background



//box in the middle
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left:20px ;
  padding-right:20px ;
  padding-bottom: 40px;
  gap: 16px;
  text-align: center;
  background-color: rgba(98, 188, 96, .8);
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  
}
//end


//content inside of the box
.title {
  font-weight: bold;
  color: black;
}

.login-section {//email&pass bg color
  overflow: hidden;
  border-radius: 15px;
  background-color: #C9E4D0;
  width: 300px;
}

.input-text {//emal&pass font color
  color: black;
}

